.e1{
    display: block;
    border: 2px solid red;
}
.e2{
    display: inline;
    color: aquamarine;
    border: 2px solid rebeccapurple;
    background-color: grey;
}
.e3{
    display: inline-block;
    border: 2px solid yellow;
    width: 200px;
    height: 170px;
    padding: 5px;

}
.e4{
    display: none;

}